<p>
  <strong>Section Number:</strong>
  <%= @section.number.to_s.rjust(3, '0') %>
</p>

<p>
  <strong>Course:</strong>
  <%= @section.course.course_name %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @section.professor.professor_name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @section.time %>
</p>

<p>
  <strong>Room number:</strong>
  <%= @section.room_number %>
</p>

<p>
  <strong>Days:</strong>
  <%= @section.days %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @section.semester %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
