<h1>
  <%= @professor.professor_name %>
</h1>
<%= @professor.email_address %>
 | Office: <%= @professor.office_location %>
 - <%= link_to 'Edit', edit_professor_path(@professor) %>
<br>
<br>
<% if @professor.courses.exists? %>
  <strong>Teaching these courses:</strong>
  <br>
  <table>
    <tr>
      <th>Course name</th>
      <th>Section</th> 
      <th>Time</th>
      <th>Days</th>
      <th>Location</th>
      <th>Semester</th>
    </tr>
    <% @professor.courses.each_with_index do |course, i| %>
    <tr>
      <td><%= course.course_name %></td>
      <td><%= @professor.sections[i].number.to_s.rjust(3, '0')  %></td> 
      <td><%= @professor.sections[i].time %></td>
      <td><%= @professor.sections[i].days %></td>
      <td><%= @professor.sections[i].room_number %></td>
      <td><%= @professor.sections[i].semester %></td>
    </tr>
    <% if @professor.sections[i].students.exists? %>
    <tr>
      <td id='students_table' colspan='8' class='subtable'>
        <table>
          <tr>
            <th>Students in this section:</th>
          </tr>
          <% @professor.sections[i].students.each do |student| %>
          <tr>
            <td><%= student.name %><% student.student_number %></td>
          </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <% end %>

    <% end %>
  </table>
<% else %>
This professor is not teaching any course sections right now.
<% end %>
