<!DOCTYPE html>
<html>
  <head>
    <title>Academia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% current_uri = request.env['PATH_INFO'] %>
  <body>
    <div id="bodyDiv">
      <% if !notice.nil? %>
        <div class="notice" id="notice"><%= notice %></div>
      <% end %>
      <% if !alert.nil? %>
        <div class="alert" id="alert"><%= alert %></div>
      <% end %>
      <% if user_signed_in? %>
        <table id="navTable">
          <tbody>
            <tr>
              <% if current_uri.match sections_path || current_uri == root_path %>
              <td class="activeTab">
                <%= link_to 'Sections', sections_path %>
                <% else %>
              <td>
                <%= link_to 'Sections', sections_path %>
              <% end %>
              </td>
              <% if current_uri.match courses_path %>
              <td class="activeTab">
                <%= link_to 'Courses', courses_path %>
                <% else %>
              <td>
                <%= link_to 'Courses', courses_path %>
              <% end %>
              </td>
              <% if current_uri.match professors_path %>
              <td class="activeTab">
                <%= link_to 'Professors', professors_path %>
                <% else %>
              <td>
                <%= link_to 'Professors', professors_path %>
              <% end %>
              </td>
              <% if current_uri.match students_path %>
              <td class="activeTab">
                <%= link_to 'Students', students_path %>
                <% else %>
              <td>
                <%= link_to 'Students', students_path %>
              <% end %>
              </td>
              <% if current_uri.match enrollments_path %>
              <td class="activeTab">
                <%= link_to 'Enrollments', enrollments_path %>
                <% else %>
              <td>
                <%= link_to 'Enrollments', enrollments_path %>
              <% end %>
              </td>
              <td>
                <%= form_tag(current_uri, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search here..." %>
                <%= submit_tag "Search", :name => nil %>
                <% end %>
              </td>
              <td>
                <%= link_to 'Log Out', destroy_user_session_path %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <%= yield %>
    <div>
  </body>
</html>
